[filter "nbstripout"]
    clean = python -m nbstripout --attributes=.gitattributes
    smude = cat
    required = true
    extraKeys = 'metadata.kernelspec metadata.language_info'
[diff "ipynb"]
    textconv = python -m nbstripout -t --attributes=.gitattributes