--extra-index-url https://download.pytorch.org/whl/cpu
# langchain>=0.1.16
langchain>=0.2.15
langgraph>=0.2.16
# langgraph>=0.0.26
pydantic>=2.0.0
# langchain-openai>=0.0.2
langchain-openai>=0.1.23
langchainhub
# langchain-community>=0.0.27
langchain-community>=0.2.0
# torch
langchain-cli
langchain-experimental
langserve[all]
tavily-python
openai
python-dotenv
google-search-results
# faiss-cpu
pypdf
tqdm
wikipedia
arxiv
atlassian-python-api
numexpr
beautifulsoup4
lxml
tiktoken
ipydatagrid
bqplot
nbstripout
pre-commit
nbdime
sentence-transformers
transformers
qdrant_client
rank_bm25
pandas
duckdb
networkx
playwright==1.40.0
# pygraphviz
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
jupyterlab
crewai
langfuse
langchain-google-vertexai
langchain-text-splitters
unstructured
markdown
wikipedia
langgraph-checkpoint-sqlite
google-genai
websockets
taskgroup
