--extra-index-url https://download.pyf.org/whl/cpu
torch
langchain>=0.1.16
langgraph>=0.0.26
pydantic>=2.0.0
langchain-openai>=0.0.2
langchainhub
langchain-community>=0.0.27
duckduckgo-search>=5.3.0
langchain-cli
langchain-experimental
langserve[all]
tavily-python
openai
python-dotenv
google-search-results
faiss-cpu
pypdf
tqdm
wikipedia
arxiv
atlassian-python-api
numexpr
beautifulsoup4
lxml
tiktoken
ipydatagrid
bqplot
nbstripout
pre-commit
nbdime
sentence-transformers
transformers
qdrant_client
rank_bm25
pandas
duckdb
networkx
playwright
# pygraphviz
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
jupyterlab
crewai
langfuse