--extra-index-url https://download.pytorch.org/whl/cpu
torch
langchain
langgraph
pydantic
langchain-openai
langchainhub
langchain-community
langchain-cli
langchain-experimental
langserve[all]
tavily-python
openai
python-dotenv
google-search-results
faiss-cpu
pypdf
tqdm
wikipedia
arxiv
atlassian-python-api
numexpr
beautifulsoup4
lxml
tiktoken
ipydatagrid
bqplot
nbstripout
pre-commit
nbdime
sentence-transformers
transformers
qdrant_client
rank_bm25
pandas
duckdb
networkx
playwright
pygraphviz
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
jupyterlab
crewai
langfuse
langchain-google-vertexai
langchain-text-splitters
unstructured
markdown
wikipedia
